<!DOCTYPE html>
<html>

    <head data-th-fragment="page-head(headTitle)">
        <title data-th-text="${headTitle}?: 'Title Web Demo'">Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/intl.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <!-- make sure the following come after jQuery styling: -->
        <link rel="stylesheet" href="../../public/css/normalize.css" data-th-href="@{/css/normalize.css}">
        <link rel="stylesheet" href="../../public/css/skeleton.css" data-th-href="@{/css/skeleton.css}">
        <link rel="stylesheet" href="../../public/css/common2.css" data-th-href="@{/css/common2.css}">
        <script src="../../public/js/artem.js" data-th-src="@{/js/artem.js}"></script>
        <!-- make sure this is the last css to be loaded: -->
        <link rel="stylesheet" href="../../public/css/artem.css" data-th-href="@{/css/artem.css}">
    </head>

    <body>
    </body>

</html>
