<!DOCTYPE html>

<html>

    <head>
        <title>Left Menu</title>
    </head>

    <body>

        <div data-th-fragment="left-menu" class="panel">

            <div id="accordion">
                <h3>IMDB Data</h3>
                <div>
                    <ul>
                        <li><a data-th-href="'/titles/'">Titles</a></li>
                        <li><a data-th-href="'/talents/'">Talent</a></li>
                    </ul>
                </div>
                <h3>Admin</h3>
                <div>
                    <ul>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
            </div>

        </div>

    </body>

</html>
