<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
        </Root>
        <logger name="org.thymeleaf" level="info">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.thymeleaf.TemplateEngine.CONFIG" level="info">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.thymeleaf.TemplateEngine.TIMER" level="info">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.thymeleaf.TemplateEngine.cache.TEMPLATE_CACHE" level="info">
            <appender-ref ref="console"/>
        </logger>
    </Loggers>
</Configuration>
